/** selector universal, se utiliza con los espaciados  */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color:#f3e5d8;
    padding: 3rem;


}.container{
    background-color: #fff;
    padding: 2rem;
    width: 80%;/* width: 80%; es para que el contenedor ocupe el 80% del ancho de la pantalla */
    margin: 0 auto;/* margin: 0 auto; es para centrar el contenedor horizontalmente */
    padding: 0 auto;/* margin: 0 auto; es para centrar el contenedor horizontalmente */
    border-radius: 20px;/* border-radius: 20px; es para redondear las esquinas del contenedor */
}
/* width:100% es igual a width: 80% + margin: 10% auto */
figure img{
    max-width: 100%;/* max-width: 100%; es para que la imagen no se salga del contenedor */
     border-radius: 10px;
}
 
.title{
    margin: 1rem 0;
    font-style: italic;
}

.paragrahp{
    margin-bottom: 1rem;
    line-height: 1.6;/* line-height: 1.5rem; es para aumentar el espacio entre las líneas de texto */
}
body{
    background-color: #f3e5d8;
}
/** seleccionado por clase (.) */
.preparation-time{
    background-color: #f3e5d8;
    padding: 1rem 1.5rem; /** un rem es igual a 16px
     * arriba y abajo ( 1rem)
     * izquierda y derecha ( 1.5rem), top, right, bottom, left
     */
    
}

/** seleccionando un elemento hijo */
.preparation-time h3{
    color: #752c49;
}


/**aplicando los mismos estilos para los contenedores */
.container-ingredients,.container-instructions,.container-nutrition{
    margin-top: 1rem;
    padding: 1rem;
    
}

.subtitle{
    margin-bottom: 0.5rem;
    color:#844631;
    font-size: 1.3rem;
    padding-bottom: .5;
}
/** agregando espacios entre lineas en linea */
.container_ingredients ul, .container_instructions ol , .container_nutrition ul{
    line-height: 1.6;
}

table{
    width: 100%;
    border-collapse: collapse;/* border-collapse: collapse; es para eliminar el espacio entre las celdas de la tabla */

}
tr, td{
    border-bottom: 1px solid #5f5d5d;/* border: 1px solid #ddd; es para agregar un borde a las celdas de la tabla */
    padding: 0.5rem;/*,0.5rem equivale a 8 pixeles */
}

.celda{
    color: #844631;
    font-weight: bold;/** font-weight: bold; es para hacer el texto en negrita */
}
/** seleccionado por ID (#) 
#time{

}
*/